<div class="container-fluid" >
  <div class="navi-section text-center">
    <div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success" routerLink="/nuts"><a>Nuts</a></li>
        <li class="list-group-item list-group-item-info" routerLink="/grains"><a>Grains</a></li>
        <li class="list-group-item list-group-item-warning" routerLink="/dry-fruit"><a>DryFruits</a></li>
      </ul>
    </div>
  </div>
  <div class="main-section">
   <router-outlet></router-outlet> 
  </div>
</div>